@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.preview-section{
    width: 100%;
    height: 100vh;
    background-color: var(--Light-Grayish-Blue);
    position: relative;
}

.container{
    width: 50%;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    display: flex;
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--Grayish-Blue);
}

.left-side{
    width: 35%;
    height: 100%;
}
.left-side img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.right-side{
    width: 65%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    padding: 0 30px;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side .card-header{
    font-weight: 700;
    font-size: 18px;
    color: var(--Very-Dark-Grayish-Blue);
}
.right-side .card-desc{
    font-weight: 500;
    color: var(--Desaturated-Dark-Blue);
    margin: 10px 0 25px;
    text-align: justify;
}

.card-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer .person{
    display: flex;
}
.card-footer .person .person-img img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 12px;
}
.card-footer .person .person-name{
    color: var( --Very-Dark-Grayish-Blue);
    font-weight: 700;
}
.card-footer .person .date{
    color: var(--Grayish-Blue);
    font-weight: 500;
}

.card-footer .person-and-socialIcons .toast{
    display: none;
}

.share{
    position: absolute;
    left: 91%;
    cursor: pointer;
}

.share .toast{
    display: none;
}

.card-footer.active .share .toast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -37px;
    left: -59px;
    z-index: 10;
}

.social-toast{
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-toast span{
    color: var(--Grayish-Blue);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-right: 15px;
}

.social-toast a{
    color: #fff;
    font-size: 13px;
    padding-right: 5px;
}

.toast-icon i{
    font-size: 24px;
    color: var(--Very-Dark-Grayish-Blue);
    margin: 0;
    padding: 0;
    position: relative;
    top: -15px;
}

.share-icon{
    padding: 10px;
    border-radius: 50%;
    background-color: var(--Light-Grayish-Blue);
    cursor: pointer;
}

.card-footer.active .share-icon{
    background-color: var(--Grayish-Blue);
}



/* ================Media-Query================ */
@media screen and (max-width: 992px){
    .container{
        width: 70%;
        height: 290px;
    }
}

@media screen and (max-width: 600px){
    .container{
        width: 90%;
        height: 290px;
    }

    .share{
        left: 85%;
    }
}

@media screen and (max-width: 480px){
    .container{
        width: 95%;
        height: auto;
        flex-direction: column;
    }
    
    .left-side{
        width: 100%;
        height: 250px;
    }
    .left-side img{
        border-radius: 10px 10px 0 0;
    }


    .right-side{
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .right-side .card-header{
        font-weight: 700;
        font-size: 18px;
        color: var(--Very-Dark-Grayish-Blue);
        padding: 40px 20px 10px;
    }
    .right-side .card-desc{
        font-weight: 500;
        color: var(--Desaturated-Dark-Blue);
        margin: 10px 0 25px;
        text-align: justify;
        padding: 0px 20px 0px;
    }
    
    .card-footer{
        padding: 10px 20px;
    }

    .card-footer .person-and-socialIcons .toast{
        display: none;
    }

    .card-footer.active {
        background-color: var(--Very-Dark-Grayish-Blue);
    }

    .card-footer.active .person-and-socialIcons .person{
        display: none;
    }

    .card-footer.active .person-and-socialIcons .toast{
        display: flex;
    }

    .card-footer.active .share .toast{
        display: none;
    }
    .social-toast{
        width: 200px;
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .social-toast span{
        font-size: 16px;
    }
    
    .social-toast a{
        color: #fff;
        font-size: 20px;
        padding-right: 5px;
    }

    .share{
        left: 85%;
    }
}